body {
  background-color: #badef6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
body header {
  background-color: #2689b1;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px black;
  border: solid darkblue 2px;
}
body header div {
  display: flex;
}
body header div #hangman-logo {
  height: 20vh;
}
body header div h1 {
  text-shadow: 0 0 15px darkblue, 0 0 7px darkcyan;
}
body nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #2689b1, darkblue);
}
body nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2vw;
  margin-right: 5vw;
}
body nav ul li {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px darkblue;
  border: solid black 2px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  text-align: center;
  list-style-type: none;
  padding: 10px;
  background-color: #4cb7e2;
  color: #050A30;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}
body #main-game-body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 500px;
  border: solid black 2px;
  background-color: white;
  flex-direction: column;
  padding-bottom: 5vh;
}
body #main-game-body #img-div {
  display: flex;
  justify-content: center;
}
body #main-game-body #img-div #main-game-img {
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 40vh;
}
body #main-game-body #button {
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
body #main-game-body #choices {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
body #main-game-body #choices .letterTiles {
  display: inline-flex;
  justify-content: center;
  color: black;
  font-size: 3em;
  width: 3vw;
  border-bottom: black solid;
}
body #main-game-body #hints {
  font-size: 3vh;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  font-style: italic;
}
body #main-game-body .choice-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
  margin-bottom: 5px;
}
body #main-game-body button {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px darkblue;
  border: solid black 2px;
  border-radius: 5px 5px 5px 5px;
  color: black;
  font-size: 4vh;
  background-color: #4cb7e2;
  text-shadow: 0px 1px 5px darkblue;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 700px) {
  body #main-game-body button button {
    flex-direction: column;
    width: 100%;
  }
}
body #main-game-body #popup {
  display: none;
  position: absolute;
  flex-direction: column;
  opacity: 95%;
  border: 2px darkblue solid;
  box-shadow: 0 0 10px black;
  border-radius: 5px 5px 5px 5px;
  width: 30vw;
  background-color: skyblue;
  left: 50%;
  bottom: 30%;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: 1em;
  transform: translate(-50%, -50%);
}
body #main-game-body #popup #x-button {
  display: flex;
  justify-content: right;
  margin: 1vh;
}
body #main-game-body #popup #x-button button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
body #main-game-body #popup #x-button button:hover {
  opacity: 50%;
}
body #main-game-body #popup #content #congrats-message {
  margin-top: 2vh;
}
body #main-game-body #popup #new-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
body #main-game-body #popup #new-button #new-game-button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
body #main-game-body #popup-section-how-to {
  display: none;
  position: absolute;
  flex-direction: column;
  opacity: 95%;
  border: 2px darkblue solid;
  box-shadow: 0 0 10px black;
  border-radius: 5px 5px 5px 5px;
  width: 30vw;
  background-color: skyblue;
  left: 50%;
  bottom: -25%;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: 1em;
  transform: translate(-50%, -50%);
}
body #main-game-body #popup-section-how-to #x-button-how {
  display: flex;
  justify-content: right;
  margin: 1vh;
}
body #main-game-body #popup-section-how-to #x-button-how button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
body #main-game-body #popup-section-how-to #x-button-how button:hover {
  opacity: 50%;
}
body #main-game-body #popup-section-how-to #new-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
body #main-game-body #popup-section-how-to #new-button #new-game-button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
body #main-game-body #popup-section-about {
  display: none;
  position: absolute;
  flex-direction: column;
  opacity: 95%;
  border: 2px darkblue solid;
  box-shadow: 0 0 10px black;
  border-radius: 5px 5px 5px 5px;
  width: 30vw;
  background-color: skyblue;
  left: 50%;
  bottom: 0%;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: 1em;
  transform: translate(-50%, -50%);
}
body #main-game-body #popup-section-about #x-button-about {
  display: flex;
  justify-content: right;
  margin: 1vh;
}
body #main-game-body #popup-section-about #x-button-about button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
body #main-game-body #popup-section-about #x-button-about button:hover {
  opacity: 50%;
}
body #main-game-body #popup-section-about #new-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
body #main-game-body #popup-section-about #new-button #new-game-button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
body #main-game-body #popup-section-new-game {
  display: none;
  position: absolute;
  flex-direction: column;
  opacity: 95%;
  border: 2px darkblue solid;
  box-shadow: 0 0 10px black;
  border-radius: 5px 5px 5px 5px;
  width: 30vw;
  background-color: skyblue;
  left: 50%;
  bottom: 25%;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: 1em;
  transform: translate(-50%, -50%);
}
body #main-game-body #popup-section-new-game #x-button-game {
  display: flex;
  justify-content: right;
  margin: 1vh;
}
body #main-game-body #popup-section-new-game #x-button-game button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
body #main-game-body #popup-section-new-game #x-button-game button:hover {
  opacity: 50%;
}
body #main-game-body #popup-section-new-game #new-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
body #main-game-body #popup-section-new-game #new-button #new-game-button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
body #main-game-body #popup-section-new-game #new-button #new-game-button:hover {
  opacity: 50%;
}
body #main-game-body #player-card {
  display: flex;
  justify-content: center;
  display: none;
  position: absolute;
  bottom: 30%;
  left: 2%;
  padding-left: 1vw;
  padding-right: 1vw;
  flex-direction: column;
  opacity: 95%;
  border: 2px darkblue solid;
  box-shadow: 0 0 10px black;
  border-radius: 5px 5px 5px 5px;
  width: 20vw;
  background-color: skyblue;
  padding: 20px;
}
body #main-game-body #player-card #x-button-div {
  display: flex;
  justify-content: right;
  margin: 1vh;
}
body #main-game-body #player-card #x-button-div #x-button-card {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}