
// SASS VARIABLES--------------------------------------------------------------------------------------------
$main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$body_color : rgb(186, 222, 246);
$header_color :rgb(38, 137, 177);
$button_color :rgb(76, 183, 226);
$game_background:white;
$header_border_color: darkblue;
$pop_up_bkgrnd: skyblue;
$min-game-height: 500px;
$loser_color:lightcoral;
//$hidden_word_size:

// SASS MIXINS-----------------------------------------------------------------------------------------------

// styles for the header
@mixin box-border-styles($box-num, $box-color, $border-style, $border-color,$border-px) {
    box-shadow: 0 0 $box-num $box-color ;
    border: $border-style $border-color $border-px;
}


// flex stylings
@mixin flex-styles() {
    display: flex;
    justify-content: center;
}

// rounded-border radius
@mixin rounded-border {
    border-radius: 5px 5px 5px 5px;
}

// cursor pointer
@mixin change-cursor{
    cursor: pointer;
}


//set top and bottom margin
@mixin set-top-bot-margin($top,$bottom)
{
    margin-top: $top;
    margin-bottom:$bottom;
}

@mixin x-button-styles()
{
    @include rounded-border();
    background-color: $body_color;
    font-weight: bold;
    color:darkblue;
    text-shadow: 0 0 2px darkcyan;
    box-shadow: 0 0 5px black;
}

@mixin pop-up-base($bottom)
{
    display: none;
    position: absolute;
    flex-direction: column;
    opacity: 95%;
    border: 2px darkblue solid;
    box-shadow: 0 0 10px black;
    @include rounded-border();
    width:30vw;
    background-color: $pop_up_bkgrnd;
    left:50%;
   // height: 20vh;
    bottom: $bottom;
    padding-bottom: 15px;
    padding-right:5px;
    padding-left:5px;
    text-align: center;
    font-size: 1em;
    transform: translate(-50%,-50%);
}

@mixin basic-button()
{
    @include rounded-border();
    background-color: $body_color;
    font-weight: bold;
    color:darkblue;
    text-shadow: 0 0 2px darkcyan;
    box-shadow: 0 0 5px black;
    cursor: pointer;
}

@mixin x-button-layout()
{
    display: flex;
    justify-content: right;
    margin: 1vh;
}

body
{
    background-color: $body_color;
    font-family: $main-font;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    header
    {

        background-color: $header_color;
        @include flex-styles();
        @include box-border-styles(5px, black, solid, $header_border_color, 2px);
      
        div
        {
            display: flex; 
       
            #hangman-logo
            {
                height:20vh;
            }
            h1 
            {
                text-shadow: 0 0 15px darkblue, 0 0 7px darkcyan;
            }  
        }
    }

    nav 
    {
        @include flex-styles();
        @include set-top-bot-margin(10px, 10px);
   
        background-image: linear-gradient(to right, $header_color,darkblue);

        ul
        {
            @include flex-styles();
            flex-direction: row;
            gap:2vw;
            margin-right: 5vw;

            li
            {
                @include flex-styles();
                @include box-border-styles(5px, darkblue, solid, black, 2px);
                @include rounded-border();
                @include change-cursor();
                text-align: center;
                list-style-type: none;
                padding:10px;
                background-color:$button_color  ;
                color:#050A30;
                font-weight: bold;
                text-shadow: 0 0 5px white;
            }
        }
    }

    #main-game-body
    {
        @include flex-styles();
        min-width: 320px;
        min-height: $min-game-height;
        border: solid black 2px;
        background-color: $game_background;
        flex-direction: column;
        padding-bottom: 5vh;

        #img-div
        {
            display: flex;
            justify-content: center;
            
            #main-game-img
            {
                @include set-top-bot-margin(5vh,5vh);
                height:40vh;
               
            }
        }

        #button
        {
           @include flex-styles();
            text-align: center;
            
            cursor: pointer;
        }

        #choices
        {
            @include flex-styles();
            flex-direction: row;
            gap:10px;
          
            .letterTiles
            {
                display: inline-flex;
                justify-content: center;
                color: black;
                font-size: 3em;
                width: 3vw;
                border-bottom: black solid ;
            }
        }

        #hints
        {
            font-size: 3vh;
            text-align: center;
            @include flex-styles();
            flex-direction: column;
            margin-bottom: 5vh;
            font-style: italic;
            
            #loser
            {
                color: $loser_color;
                font-weight: bold;
                font-size: 1.2em;
                text-shadow:0 2px 5px black, 0 0 5px darkred;
            }
            #winner
            {
                color: $pop_up_bkgrnd;
                font-weight: bold;
                font-size: 1.2em;
                text-shadow:0 2px 3px black, 0 0 5px $header_border_color;
            }

            #again
            {
                @include flex-styles();
                #play-again
                {
                    @include basic-button();
                    padding: 5px;
                }
            }
        }

        #reset-button-section
        {
            @include flex-styles();
            margin-bottom: 2vh;
            display: none;

            #reset-button
            {
                // to do
            }
        }

        .choice-buttons
        {
           @include flex-styles();
           width:100%;
           gap:5px;
           margin-bottom: 5px;

           .choice-button
           {
            @include flex-styles();
            @include box-border-styles(5px, darkblue, solid,black, 2px);
            @include rounded-border();
            color: black;
            font-size: 4vh;
            background-color: $button_color ;
            text-shadow: 0px 1px 5px darkblue;
            text-align: center;
            cursor: pointer;
           }
        }

           button
           {
               @include flex-styles();
               @include box-border-styles(5px, darkblue, solid,black, 2px);
               @include rounded-border();
               color: black;
               font-size: 1.5;
               background-color: $button_color ;
               text-shadow: 0px 1px 5px darkblue;
               text-align: center;
               cursor: pointer;
        }

        #popup
        {
            @include pop-up-base(30%);
         
            #x-button
            {
                @include x-button-layout();
              
                button
                {
                    @include basic-button();
                }

                button:hover
                {
                    opacity:50%;
                }
            }

            #content
            {
                #congrats-message
                {
                    margin-top:2vh;
                }
            }

            #new-button
            {
                @include flex-styles();
                @include set-top-bot-margin(10px,20px);
                
                #new-game-button
                {
                   @include basic-button();
                }
            }
        }
//------------------------------popup how-----
        #popup-section-how-to
        {
            @include pop-up-base(-25%);
        
            #x-button-how
            {
                @include x-button-layout();
                
                button
                {
                   @include basic-button();
                }
                button:hover
                {
                    opacity:50%;
                } 
            }

            #new-button
            {
                @include flex-styles();
                @include set-top-bot-margin(10px,20px);
                
                #new-game-button
                {
                   @include basic-button();
                }
            }
        }

//--------------------------
        #popup-section-about
        {
            @include pop-up-base(0%);
    
            #x-button-about
            {
                @include x-button-layout();
                
                button
                {
                   @include basic-button();
                }
                button:hover
                {
                    opacity:50%;
                }
            }

            #new-button
            {
                @include flex-styles();
                @include set-top-bot-margin(10px,20px);
                
                #new-game-button
                {
                    @include basic-button();
                }
            }
        }

        #popup-section-new-game
        {
            @include pop-up-base(25%);
          
            #x-button-game
            {
                @include x-button-layout();
                
                button
                {
                    @include basic-button();
                }

                button:hover
                {
                    opacity:50%;
                }
            }

            #new-button
            {
                @include flex-styles();
                @include set-top-bot-margin(10px,20px);
                
                #new-game-button
                {
                    @include basic-button();
                }

                #new-game-button:hover
                {
                    opacity: 50%;
                }
            }
        }

        #player-card
        {

            @include flex-styles();
            display: none;
            position: absolute;
            bottom: 30%;
            left:2%;
            padding-left:1vw;
            padding-right: 1vw;;
            flex-direction: column;
            opacity: 95%;
            border: 2px darkblue solid;
            box-shadow: 0 0 10px black;
            border-radius: 5px 5px 5px 5px;
            width:20vw;
            background-color: skyblue;
            padding:20px;
            
            #x-button-div
            {
                
                @include x-button-layout();

                #x-button-card
                {
                    @include basic-button();
                }
            }
        }
    }
}