body {
  background-color: #badef6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
body header {
  display: flex;
  justify-content: center;
  background-color: #4cb7e2;
  box-shadow: 0 0 5px black;
  border: solid darkblue 2px;
}
body header div {
  display: flex;
  height: 10vh;
}
body header div h1 {
  text-shadow: 0 0 15px darkblue, 0 0 7px darkcyan;
}
body nav {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #4cb7e2, darkblue);
  justify-content: center;
}
body nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2vw;
}
body nav ul li {
  display: flex;
  border: solid 2px black;
  list-style-type: none;
  padding: 10px;
  background-color: #4cb7e2;
  color: #050A30;
  font-weight: bold;
  text-shadow: 0 0 5px white;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 5px darkblue;
}
body #main-game-body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 500px;
  border: solid black 2px;
  background-color: white;
  flex-direction: column;
}
body #main-game-body #img-div {
  display: flex;
  justify-content: center;
}
body #main-game-body #img-div #main-game-img {
  width: 25vw;
}
body #main-game-body #button {
  display: flex;
  justify-content: center;
  text-align: center;
}
body #main-game-body #choices {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
body #main-game-body #choices .letterTiles {
  display: inline-flex;
  justify-content: center;
  color: black;
  font-size: 3em;
  width: 3vw;
  border-bottom: black solid;
}
body #main-game-body #hints {
  font-size: 3vh;
  display: flex;
  justify-content: center;
  margin-bottom: 4vh;
  font-style: italic;
}
body #main-game-body .choice-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}
body #main-game-body .choice-buttons button {
  color: black;
  font-size: 2em;
  width: 2.5vw;
  border: black 2px solid;
  border-radius: 5px 5px 5px 5px;
  background-color: #4cb7e2;
  box-shadow: 0 0 5px darkblue;
  text-shadow: 0px 1px 5px darkblue;
}
body #main-game-body #popup {
  display: none;
  position: absolute;
  flex-direction: column;
  order: 2;
  opacity: 95%;
  border: 2px darkblue solid;
  box-shadow: 0 0 10px black;
  border-radius: 5px 5px 5px 5px;
  width: 30vw;
  background-color: skyblue;
  left: 50%;
  height: 20vh;
  bottom: 30%;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: 1em;
  transform: translate(-50%, -50%);
}
body #main-game-body #popup #x-button {
  display: flex;
  justify-content: right;
  margin: 1vh;
}
body #main-game-body #popup #x-button button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
}
body #main-game-body #popup #x-button button:hover {
  opacity: 50%;
}
body #main-game-body #popup #new-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
body #main-game-body #popup #new-button #new-game-button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
}
body #main-game-body #popup-section-how-to {
  display: none;
  position: absolute;
  flex-direction: column;
  order: 2;
  opacity: 95%;
  border: 2px darkblue solid;
  box-shadow: 0 0 10px black;
  border-radius: 5px 5px 5px 5px;
  width: 30vw;
  background-color: skyblue;
  left: 50%;
  height: 50vh;
  bottom: -10%;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: 1em;
  transform: translate(-50%, -50%);
}
body #main-game-body #popup-section-how-to #x-button-how {
  display: flex;
  justify-content: right;
  margin: 1vh;
}
body #main-game-body #popup-section-how-to #x-button-how button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
}
body #main-game-body #popup-section-how-to #x-button-how button:hover {
  opacity: 50%;
}
body #main-game-body #popup-section-how-to #new-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
body #main-game-body #popup-section-how-to #new-button #new-game-button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
}
body #main-game-body #popup-section-about {
  display: none;
  position: absolute;
  flex-direction: column;
  order: 2;
  opacity: 95%;
  border: 2px darkblue solid;
  box-shadow: 0 0 10px black;
  border-radius: 5px 5px 5px 5px;
  width: 30vw;
  background-color: skyblue;
  left: 50%;
  height: 40vh;
  bottom: 5%;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: 1em;
  transform: translate(-50%, -50%);
}
body #main-game-body #popup-section-about #x-button-about {
  display: flex;
  justify-content: right;
  margin: 1vh;
}
body #main-game-body #popup-section-about #x-button-about button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
}
body #main-game-body #popup-section-about #x-button-about button:hover {
  opacity: 50%;
}
body #main-game-body #popup-section-about #new-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
body #main-game-body #popup-section-about #new-button #new-game-button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
}
body #main-game-body #popup-section-new-game {
  display: none;
  position: absolute;
  flex-direction: column;
  order: 2;
  opacity: 95%;
  border: 2px darkblue solid;
  box-shadow: 0 0 10px black;
  border-radius: 5px 5px 5px 5px;
  width: 30vw;
  background-color: skyblue;
  left: 50%;
  height: 20vh;
  bottom: 25%;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: 1em;
  transform: translate(-50%, -50%);
}
body #main-game-body #popup-section-new-game #x-button-game {
  display: flex;
  justify-content: right;
  margin: 1vh;
}
body #main-game-body #popup-section-new-game #x-button-game button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
}
body #main-game-body #popup-section-new-game #x-button-game button:hover {
  opacity: 50%;
}
body #main-game-body #popup-section-new-game #new-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
body #main-game-body #popup-section-new-game #new-button #new-game-button {
  border-radius: 5px 5px 5px 5px;
  background-color: #badef6;
  font-weight: bold;
  color: darkblue;
  text-shadow: 0 0 2px darkcyan;
  box-shadow: 0 0 5px black;
}
body #main-game-body #popup-section-new-game #new-button #new-game-button:hover {
  opacity: 50%;
}