$body_color : rgb(186, 222, 246);
$header_color :rgb(76, 183, 226);


body
{
    background-color: $body_color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    header
    {
        display: flex;
        justify-content: center;
        background-color: $header_color;
        box-shadow: 0 0 5px black;
        border: solid darkblue 2px;
       

        div
        {
            display: flex; 
            height: 10vh;
            margin-right: 10vw;

            h1 
            {
                text-shadow: 0 0 15px darkblue, 0 0 7px darkcyan;
            }
            
            #noose
            {
                position: relative;
                left: 25px;    
            }
        }

        #main-game-body
        {
            display: flex;
            justify-content: center;
        }
      
    }

    #main-game-body
    {
        min-width: 320px;
        min-height: 500px;
        border: solid black 2px;
    }
}

